div {
    -webkit-user-select: none;
}

/* index page */

#index_bg {
    width: 1024px;
    height: 768px;
    background-image: url('../images/index_bg.png');
}

#sales_button {
    position: absolute;
    left: 54px;
    top: 591px;
    width: 405px;
    height: 171px;
}

#doctor_button {
    position: absolute;
    left: 568px;
    top: 591px;
    width: 405px;
    height: 171px;
}

/* questionnaire page */

#question_bg {
    width: 1024px;
    height: 768px;
    background-image: url('../images/question_bg.png');
}

#back_to_index {
    position: absolute;
    left: 786px;
    top: 125px;
    width: 72px;
    height: 43px;
}

#prevent {
    position: absolute;
    left: 0;
    top: 347px;
    width: 63px;
    height: 122px;
}

#next {
    position: absolute;
    left: 961px;
    top: 347px;
    width: 63px;
    height: 122px;
}

#main_content1 {
    position: absolute;
    left: 145px;
    top: 126px;
    width: 728px;
    height: 597px;
}

#main_content2 {
    position: absolute;
    left: 145px;
    top: 126px;
    width: 728px;
    height: 597px;
    display: none;
}

.question_title_bg {
    overflow: hidden;
    width: 728px;
    height: 301px;
    background-image: url('../images/question_title_bg.png');
}

.question_title {
    margin-top: 87px;
    margin-left: 28px;
    width: 673px;
    height: 150px;
}

.question_answer_bg {
    overflow: hidden;
    width: 728px;
    height: 74px;
    background-image: url('../images/question_answer_bg.png');
}

.question_answer_bg_last {
    overflow: hidden;
    width: 728px;
    height: 119px;
    background-image: url('../images/question_answer_bg_last.png');
}

.question_answer_checkbox {
    margin-top: 26px;
    margin-left: 35px;
    width: 26px;
    height: 26px;
    float: left;
}

.question_answer {
    margin-top: 2px;
    margin-left: 96px;
    width: 632px;
    height: 70px;
}

#photo {
    position: absolute;
    left: 835px;
    top: 475px;
    width: 132px;
    height: 279px;
}

/* questionnaire page */

#showPath_bg {
    width: 1024px;
    height: 768px;
}

/* keyMessage page */

#keyMessage_bg {
    width: 1024px;
    height: 768px;
}

.message1_km1 {
    position: absolute;
    left: 411px;
    top: 350px;
    width: 591px;
    height: 183px;
}

.message2_km1 {
    display: none;
}

.message3_km1 {
    display: none;
}

.message1_km2 {
    position: absolute;
    left: 0;
    top: 348px;
    width: 324px;
    height: 185px;
}

.message2_km2 {
    position: absolute;
    left: 700px;
    top: 348px;
    width: 324px;
    height: 185px;
}

.message3_km2 {
    display: none;
}

.message1_km3 {
    position: absolute;
    left: 436px;
    top: 289px;
    width: 468px;
    height: 67px;
}

.message2_km3 {
    position: absolute;
    left: 436px;
    top: 359px;
    width: 468px;
    height: 128px;
}

.message3_km3 {
    position: absolute;
    left: 410px;
    top: 491px;
    width: 468px;
    height: 67px;
}
/*#dancers {
    position: absolute;
    left: 89px;
    top: 54px;
    width: 371px;
    height: 687px;
    background-image: url('../images/dancers.png');
    display: none;
}*/
